<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EvaluatePa</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' type='text/css'>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style_", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-green-custom box-shadow d-inline-flex">
            <div class="Narhu-container-top">
                <Div class="Narhu-top"><div><strong>NARHU</strong> Powered By Education Sphere</div></Div>

            </div><div class="box"></div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white pt-3 pb-1">
            <div class="container-fluid pt-0 border-bottom" style="border-top: 2px solid #9e9eff">
                <div class="container float-left">
                    <button class="navbar-toggler float-left" style="margin-top:-2px;" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="margin-left:10px;padding-top:0px;">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item box-shadow keep-margin-left  keep-margin-top text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Dashboard" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="Dashboard" asp-action="Dashboard_Index"><i class="fa fa-bar-chart fa-fw w3-margin-right w3-text-theme"></i>แดชบอร์ด</a>
                            </li>
                            <li class="nav-item box-shadow-blue keep-margin-left text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Course" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="EvaluatePA" asp-action=""><i class="fa fa-book fa-fw w3-margin-right w3-text-theme"></i>หลักสูตร</a>
                            </li>
                            <li class="nav-item box-shadow keep-margin-left text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Learn" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="EvaluatePA" asp-action=""><i class="fa fa-language fa-fw w3-margin-right w3-text-theme"></i>หน่วยการเรียนรู้</a>
                            </li>
                            <li class="nav-item box-shadow keep-margin-left text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-EvaluatePA" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="EvaluatePA" asp-action="EvaluatePA_Index"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i>วิทยฐานะ</a>
                            </li>
                            <li class="nav-item box-shadow keep-margin-left text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Manage" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="EvaluatePA" asp-action=""><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>จัดการผู้เรียน</a>
                            </li>
                            <li class="nav-item box-shadow keep-margin-left text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Video" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="Video" asp-action="Index"><i class="fa fa-film fa-fw w3-margin-right w3-text-theme"></i>จัดการไฟล์วิดีโอ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @*<div class="container">
                &copy; 2021 - EvaluatePa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
