@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "WorkLoad_Index";
}

<h2> Workloas p#1</h2>
<div class = "container" style = "max-width :640px "  >
    <h4>งานส่วนแรก</h4>
    <table>
          <tr>
              <td> จำนวนงาน </td>
               <td><input type = "text" id = " amountworkload" />
                 <span class ="error "> ต้องใส่จำนวนการทำงาน</span>
               </td>        
          </tr>
    </table>
</div>


